<div class="panel panel-default">
  <div class="panel-heading"><h5>New User</h5></div>
  <div class="row edit-form">
    <div class="col-md-4">
      <%= render 'form' %>
    </div>
    <div class="col-md-8">
    </div>
  </div>
  <%= link_to 'Back', users_path,:class => "btn btn-link" %>
</div>